extends layout

block content
  #container
    form(method='post', action='')
      .row
        .span6
          .control-group
            label(for='RadioStation')受訪電台
            .controls
              input(type='text', name='radiostation', id='RadioStation')
          .control-group
            label(for='ProgramName')節目名稱
            .controls  
              input(type='text', name='programname', id='ProgramName')
          .control-group
            label(for='ProgramTopic')受訪專題
            .controls
              input(type='text', name='programtopic', id='ProgramTopic')
          .control-group
            label(for='Respondent')受訪師兄姐
            .controls
              input(type='text', name='respondent', id='Respondent')
          .control-group
            label(for='RadioLength')受訪時間
            .controls
              input(type='text', name='radiolength', id='RadioLength')
          .control-group
            label(for='RadioFulltext')受訪全文
            .controls
              input(type='text', name='radiofulltext', id='RadioFulltext')
          .control-group
            label(for='FileLink')檔案連結
            .controls
              input(type='text', name='filelink', id='FileLink')
          .form-actions
            input(type='submit', class='btn btn-primary')
            a(class='btn') 重設    