extends layout

block content
  #container
    form(method='post', action='')
      .row
        .span3
          .control-group
            label(for='ActivityName')活動名稱
            .controls
              input(type='text', name='activityname', id='ActivityName')
          .control-group
            label(for='ActivityBrief')活動簡稱
            .controls  
              input(type='text', name='activitybrief', id='ActivityBrief')
          .control-group
            label(for='Location')地點
            .controls
              input(type='text', name='location', id='Location')
        .span3
          .control-group
            label(for='EventID')事件編號
            .controls
              input(type='text', name='eventid', id='EventID')
          .control-group
            label(for='StartDate')開始日期
            .controls
              input(type='text', name='startdate', id='StartDate')
          .control-group
            label(for='EndDate')結束日期
            .controls
              input(type='text', name='enddate', id='EndDate')
      .row
        .span6
          .control-group
            label活動緣起
            .controls
              textarea(rows='6', name='activityorigin')
          .control-group
            label活動性質
            .controls
              label.checkbox.inline
                input(type='checkbox', class='activitycategory', value='展演')
                展演
              label.checkbox.inline
                input(type='checkbox', class='activitycategory', value='國際性會議')
                國際性會議
              label.checkbox.inline
                input(type='checkbox', class='activitycategory', value='學術性研討會')
                學術性研討會
              label.checkbox.inline
                input(type='checkbox', class='activitycategory', value='開幕')
                開幕
              label.checkbox.inline
                input(type='checkbox', class='activitycategory', value='婚喪喜慶')
                婚喪喜慶
          .control-group
            label邀請函或公文
            .controls
              label.checkbox.inline
                input(type='checkbox', class='paperrecord', value='邀請函')
                邀請函
              label.checkbox.inline
                input(type='checkbox', class='paperrecord', value='公文')
                公文
          .control-group
            label摘要描述
            .controls
              textarea(rows='6', name="description")
          .control-group
            label(for='PaperLink')紙本連結
            .controls
              input(type='text', name='paperlink', id='PaperLink')
          .control-group
            label(for='FileLink')檔案連結
            .controls
              input(type='text', name='filelink', id='FileLink')
          .form-actions
            input(type='submit', class='btn btn-primary')
            a(class='btn') 重設
block scripts
  script(type='text/javascript', src='/javascripts/event.js')