extends layout

block content
  #container
    form(method='post', action='')
      .row
        .span6    
          .control-group
            label(for='MediaName')露出媒體名稱
            .controls
              input(type='text', name='medianame', id='MediaName')
          .control-group
            label(for='ExposeTitle')露出題目
            .controls  
              input(type='text', name='exposetitle', id='ExposeTitle')
          .control-group
            label(for='ExposePeople')露出師兄姐
            .controls
              input(type='text', name='exposepeople', id='ExposePeople')
          .control-group
            label(for='ExposeFulltext')露出全文
            .controls
              input(type='text', name='exposefulltext', id='ExposeFulltext')
          .control-group
            label(for='Respondent')受訪師兄姐
            .controls
              input(type='text', name='respondent', id='Respondent')
          .control-group
            label(for='FileLink')檔案連結
            .controls
              input(type='text', name='filelink', id='FileLink')
          .form-actions
            input(type='submit', class='btn btn-primary')
            a(class='btn') 重設