- var items = [{ name: "照片", url: "/photo?setLng=zh-TW"}, { name: "影片", url: "/video?setLng=zh-TW"}, { name: "廣播", url: "/audio?setLng=zh-TW"}, { name: "電子報/露出", url: "/expose?setLng=zh-TW"}, { name: "心得/主題紀錄片", url: "/record?setLng=zh-TW"}, { name: "大事記", url: "/event?setLng="+i18n.lng()}, { name: "禮品", url: "/present?setLng="+i18n.lng()}]
- var workgroups = ["武術陣","龍陣","獅陣","旗陣","麒麟陣","文舞陣","鼓陣","龍鳳陣","鑼鈸嗩吶","威風戰鼓","銀髮族","龍旗","門會旗陣","八仙","合陣(結陣)","文宣","維護","資管","總務","醫護","公關","音樂小組","武術包青天","布馬陣","Energy"]
- var participants = ["師父","師母","其他"]
- var lngs = ["zh-TW", "en-US", "jp"]
doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
        a(class='brand', href='/') DataBank
        ul.nav
          each item in items
            - if(item.url == current)
              li.active
                a(href=item.url)=item.name
            - else
              li
                a(href=item.url)=item.name
    block content
    block scripts