- var items = [{ name: "照片", url: "/photo"}, { name: "影片", url: "/video"}, { name: "廣播", url: "/audio"}, { name: "電子報/露出", url: "/expose"}, { name: "心得/主題紀錄片", url: "/record"}, { name: "大事記", url: "/event"}, { name: "禮品", url: "/present"}]
- var workgroups = ["兵器","拳","棍","功夫扇","包青天","八仙","國粹文化劇場","武鼓","令旗","行旗","龍陣","獅陣","旗陣","麒麟","龍旗","鳴鐘","神鼓","龍鳳神鼓","鑼鈸","法鏍嗩吶","門會旗","鳳凰","銀髮族","腰鼓","孔雀","絲傘","彩帶","吉祥舞","山地舞","民族舞","燈籠","扇彩","現代舞","五洲共融","威風戰鼓","Energy","”足爽”寶寶","布馬陣","國樂","Band","合陣（結陣）","文宣","維護","資管","總務","醫護","公關","弘揚"]
- var confs = ["國內研討會","國際研討會","記者會","公聽會","講座","館內活動"]
- var participants = ["師父","師母","師兄師姊","元首","UN大使","諾貝爾和平獎得主","宗教界","NGO非政府組織","武術界","官員","民意代表","財經法稅學者專家","其他組織團體","國外人士","國內人士"]
doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
        a(class='brand', href='/') DataBank
        ul.nav
          each item in items
            - if(item.url == current)
              li.active
                a(href=item.url)=item.name
            - else
              li
                a(href=item.url)=item.name
    block content
    block scripts