extends layout


block content
  #container
    form(method='post', action='')
      .row
        .span3
          .control-group
            label(for='ActivityName')活動名稱
            .controls
              input(type='text', name='activityname', id='ActivityName')
          .control-group
            label(for='ActivityBrief')活動簡稱
            .controls  
              input(type='text', name='activitybrief', id='ActivityBrief')
          .control-group
            label(for='Location')地點
            .controls
              input(type='text', name='location', id='Location')
        .span3
          .control-group
            label(for='PhotoID')照片編號
            .controls
              input(type='text', name='photoid', id='PhotoID')
          .control-group
            label(for='StartDate')開始日期
            .controls
              input(type='text', name='startdate', id='StartDate')
          .control-group
            label(for='EndDate')結束日期
            .controls
              input(type='text', name='enddate', id='EndDate')
      .row
        .span6
          .control-group
            label陣組勾選(可複選)
            .controls
              each workgroup in workgroups
                label.checkbox.inline  
                  input(type='checkbox', class='workgroup', value=workgroup)
                  =workgroup
          .control-group
            label會議勾選(可複選)
            .controls
              each conf in confs
                label.checkbox.inline
                  input(type='checkbox', class='conference', value=conf)
                  =conf
          .control-group
            label人物勾選(可複選)
            .controls
              each participant in participants
                - if (participant != '師父' && participant != '師母')
                  label.checkbox.inline 
                    input(type='checkbox', class='participant other', value=participant)
                    =participant
                  input(type='text', class='participant inputother')
                - else
                  label.checkbox.inline
                    input(type='checkbox', class='participant', value=participant)
                    =participant
          .control-group
            label摘要描述
            .controls
              textarea(rows='6', name='description')
          .control-group
            label(for='FileLink')檔案連結
            .controls
              input(type='text', name='filelink', id='FileLink')
          .form-actions
            a(id='submit', class='btn btn-primary') 儲存
            a(class='btn reset') 重設
            .msg

block scripts
  script(type='text/javascript', src='/javascripts/photo.js')