extends layout

block content
  #container
    form(method='post', action='')
      .row
        .span3
          .control-group
            label(for='PresentName')禮品名稱
            .controls
              input(type='text', name='presentname', id='PresentName')
          .control-group
            label(for='PresentSender')送件人
            .controls  
              input(type='text', name='presentsender', id='PresentSender')
          .control-group
            label(for='ReceiveDate')收件日期
            .controls
              input(type='text', name='receivedate', id='ReceiveDate')
        .span3
          .control-group
            label(for='PresentID')禮品編號
            .controls
              input(type='text', name='presentid', id='PresentID')
          .control-group
            label(for='Country')送件國別
            .controls
              input(type='text', name='country', id='Country')
          .control-group
            label(for='Receiver')收件人
            .controls
              input(type='text', name='receiver', id='Receiver')
      .row
        .span6
          .control-group
            label摘要描述(中文)
            .controls
              textarea(rows='6', name="description")
          .control-group
            label摘要描述(英文)
            .controls
              textarea(rows='6', name="description")
          .control-group.format
            label摘要描述(日文)
            .controls
              textarea(rows='6', name="description")
          .control-group
            a.btn.addlng 新增語言
          input(type='text', class='lng')
          .control-group
            label(for='FileLink')平面檔案連結
            .controls
              input(type='text', name='filelink', id='FileLink')
          .control-group
            label(for='ModelLink')|3D檔案連結
            .controls
              input(type='text', name='modellink', id='ModelLink')
          .form-actions
            input(type='submit', class='btn btn-primary')
            a(class='btn') 重設
block scripts
  script(type='text/javascript', src='/javascripts/present.js')