form(method='post', action='')
  .row
    .span6
      .control-group
        label(for='PhotoID')母帶編號
        .controls
          input(type='text', name='photoid', id='PhotoID')
  .row.format.timecode
    .span3
      .control-group
        label|TimeCode
        .controls
        input(type='text')
    .span6
      .control-group
        label陣組勾選(可複選)
        .controls
          each workgroup in workgroups
            label.checkbox.inline  
              input(type='checkbox', class='workgroup', value=workgroup)
              =workgroup
      .control-group
        label人物勾選(可複選)
        .controls
          each participant in participants
            - if (participant != '師父' && participant != '師母')
              label.checkbox.inline 
                input(type='checkbox', class='participant other', value=participant)
                =participant
              input(type='text', class='participant inputother')
            - else
              label.checkbox.inline
                input(type='checkbox', class='participant', value=participant)
                =participant
  .row
    .span6
      .control-group
        label(for='FileLink')檔案連結
        .controls
          input(type='text', name='filelink', id='FileLink')
      .form-actions
        input(type='submit', class='btn btn-primary')
        a(class='btn') 重設